<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #3cb371 ;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


table {
    border-collapse: collapse;
    width: 100%;
    font-family:"Courier New" ;
    font-size: 12px
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

</style>
  <h1>iSchool</h1>
<ul>
  <li><a href="/index">Home</a></li>
  <li class="dropdown">
    <a href="/login" class="dropbtn">Login</a>
    <div class="dropdown-content">
      <a href="/login/add">Add User</a>
      <a href="/login/out">Logout</a>
    </div>
  </li>
  <% if (typeof sessionrole!='undefined'){%>
  <% if(['teacher','academic','headmaster'].indexOf(sessionrole)!=-1){ %>
  <li class="dropdown">
    <a href="/students" class="dropbtn">Students</a>
    <div class="dropdown-content">
      <a href="/students/add">Add Student</a>
    </div>
  </li>
  <%}}%>
  <% if (typeof sessionrole!='undefined'){%>
  <% if(['headmaster'].indexOf(sessionrole)!=-1){ %>
  <li class="dropdown">
    <a href="/teachers" class="dropbtn">Teachers</a>
    <div class="dropdown-content">
      <a href="/teachers/add">Add Teacher</a>
    </div>
  </li>
  <%}}%>
  <% if (typeof sessionrole!='undefined'){%>
  <% if(['academic','headmaster'].indexOf(sessionrole)!=-1){ %>
  <li><a href="/subjects">Subjects</a></li>
  <%}}%>

</ul>
