<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ./partials/pageTitle %>
    <title></title>
  </head>
  <body>
    <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Login">
  </form>
  </body>
</html>
