<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <% include ./partials/pageTitle %>
  
  <title></title>
</head>
<body>
  <form action="/subjects/<%=dataSubject.id%>/<%=dataStudent.id%>/givescore" method="POST">
    <input type="text" name="first_name" value="<%=dataStudent.first_name%>" readonly><br>
    <input type="text" name="name_of_subject" value="<%=dataSubject.subject_name%>" readonly><br>
    <input type="text" name="score" placeholder="ex:79"><br>

    <input type="submit" value="Give Score">
  </form>
</body>

</html>
