<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/pageTitle %>

    <title></title>
  </head>
  <body>
    <table>
 <tr>
   <th>ID</th>
   <th>Subject Name</th>
   <th>Teachers</th>
   <th>Actions</th>
 </tr>
 <% dataSubjects.forEach(Subject=>{   %>
 <tr>
   <td><%=Subject.id%></td>
   <td><%=Subject.subject_name%></td>
   <td>
   <%let i=1%>
   <% if(Subject.Teachers){%>
     <% Subject.Teachers.forEach(Teacher=>{%>
       <%=i + '. ' + Teacher.first_name%><br>
       <%i++%>
     <%}) %>
   <% } %>
 </td>
   <td><a href="/subjects/<%=Subject.id%>/enrolledstudents">Enrolled Students</a></td>
 </tr>
 <% }) %>
</table>
  </body>
</html>
