<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <% include ./partials/pageTitle %>

  <title></title>
</head>

<body>
  <form action="/teachers/edit/<%=dataRow.id%>" method="POST">
    <% include ./partials/pageFormEdit %>
  </form>
</body>

</html>
