<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <% include ./partials/pageTitle %>

  <title></title>
</head>
<body>
  <form action="/teachers/add" method="POST">
    <% include ./partials/pageFormAdd %>

  </form>
</body>

</html>
